.input-search{
    margin-right: 10px;
    margin-left: 10px;
    width: 50%;
    height: 20px;
    background-color: rgba(50,53,80,1);
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 15px;
    color: #fff;
    transition: all 1.5s;
    font-size: 20px;
    font-weight: bold;
}

.input-search:focus{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    background-color: rgba(32,103,250,1) ;
    border: none;
    color: #000;
}

.input-search:focus::placeholder{
    color: #000;
}