.input-search{
    width: 100%;
    height: 20px;
    background-color: rgba(50,53,80,1);
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 15px;
    color: #fff;
    transition: all 1.5s;
    font-size: 20px;
    font-weight: bold;
}

.input-search:focus{
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
    border: none;
    color: #000;
}

.input-search:focus::placeholder{
    color: #000;
}