.Main{
    height: 85vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group{
    margin: 0px 30px;
    display: flex;
    width: 100%;
}

.result-list{
    width: 100%;
    margin: 0px 30px;
    position: absolute;
    top: 60%;
}