.Main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group{
    display: flex;
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
}

.result-list{
    width: 100%;
    margin: 0px 30px;
    position: absolute;
    top: 40%;
}

.mainLoading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
}