.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-gap: 4%;
    background-color: white;
    gap: 4%;
    height: 90vh;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

.sign-in{
    padding: 2%;
    width: 50%;
    position: relative;
    background-color: #292b29;
    height: 45vh;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
}

.sign-in:hover{
    transform: scale(1.04);
}

.image-background{
    width: 100%;
    height: 90vh;
}

.image-background img{
    width: 100%;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

input{
    margin: 5px 0px;
}


.card-header h3{
    color: #fff;
    font-size: 23px;
}

.card-form{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 780px){
    .image-background {
        width: 200%;
        height: 90vh;
    }

    .sign-in{
        width: 100%;
        position: relative;
        background-color: #292b29;
        height: 25vh;
        border-radius: 25px;
        padding: 15px;
        display: flex;
        transition: all 0.5s;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    }
}