.App-header {
  background-color: #292b29;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2c5b; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f5ddf; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32,103,250,1); 
}

