body {
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141526;
  overflow-x: hidden;
}

*{
  font-family: 'Arvo';
  text-decoration: none;
}

code {
  font-family: 'Lexend Peta', sans-serif;
}
